# macOS cruft
.DS_Store

# Terraform variables (often contain secrets)
*.tfvars
**/.terraform/**
terraform.tfvars
terraform.tfvars.json

# Local plan files
*tfplan*
tfplan.out

# Local kubeconfigs (EKS module / aws eks update-kubeconfig)
**/kubeconfig_*

# Editors/IDEs
.vscode/
.idea/


*.pem
*.key
.env
.terragrunt-cache/